# General
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env.local
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebooks
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# AI / ML
# Models
*.pt
*.pth
*.h5
*.onnx
*.pkl
*.pb
*.keras
*.tflite

# Data
data/
dataset/
datasets/
models/
output/
logs/
runs/
# Node.js
node_modules/
npm-debug.log
yarn-error.log
.npm
.vite/